{% extends 'base.html' %}
{% block title %}
New post
{% endblock %}

{% block lg %}

{% if user!=None %}
<a href="{{ url_for('logout') }}">Logout</a>
{% else %}
<a href="{{ url_for('login_page') }}">Log-in</a>
{% endif %}

{% endblock %}

{% block header %}
All posts
{% endblock %}

{% block loged %}

{% if user!=None %}
<div id="User_page">
  <a href="{{ url_for('user_full') }}">Logged - {{ user.login }}</a>
</div>
{% else %}
  Not Logged In
{% endif %}

{% endblock %}

{% block content %}

<h1>All posts:</h1>
{% if articles|length > 0 %}

          {% for el in articles %}
          <div id='post'>
                    <h2>{{ el.title }}</h2>
                    <p>{{ el.intro }}</p>
                    <p><b>Date:  {{ el.date.date() }}</b></p>
                    <a href="/all_posts/{{ el.id }}">Full post</a>
          </div>
          {% endfor %}
{% else %}
          <div id='noart'>
                    <p>No articles yet</p>
          </div>
{% endif %}

{% endblock %}

{% block footer %}

{% endblock %}