{% extends 'base.html' %}
{% block title %}

{{ article.title }}

{% endblock %}

{% block lg %}

{% if logged==True %}
<a href="{{ url_for('logout') }}">Logout</a>
{% else %}
<a href="{{ url_for('login_page') }}">Log-in</a>
{% endif %}

{% endblock %}

{% block header %}

{{ article.title }}

{% endblock %}

{% block loged %}

{% if logged==True %}
  Logged - {{ user.login }}
{% else %}
  Not Logged In
{% endif %}

{% endblock %}

{% block content %}

<div id='fullpost'>
          <p>{{ article.text }}</p>
          <p><b>Date: {{ article.date.date() }}</b></p>
</div>

{% endblock %}

{% block footer %}

{% endblock %}