{% extends 'base.html' %}
{% block title %}
UniBlog
{% endblock %}


{% block lg %}

{% if user!=None %}
<a href="{{ url_for('logout') }}">Logout</a>
{% else %}
<a href="{{ url_for('login_page') }}">Log-in</a>
{% endif %}

{% endblock %}

{% block header %}
Main
{% endblock %}

{% block loged %}

{% if user!=None %}
  Logged - {{ user.login }}
{% else %}
  Not Logged In
{% endif %}

{% endblock %}

{% block content %}

<div id="indexA">

  <a href="{{ url_for('all_posts') }}">See all posts</a>
  <br>
  <br>
  {% if user %}
            <a href="{{ url_for('new_post') }}">Create a new post</a>
  {% endif %}

</div>


{% endblock %}

{% block footer %}
footer
{% endblock %}