{% extends 'base.html' %}
{% block title %}
UniBlog
{% endblock %}


{% block lg %}

{% if logged==True %}
<a href="{{ url_for('logout') }}">Logout</a>
{% else %}
<a href="{{ url_for('login_page') }}">Log-in</a>
{% endif %}

{% endblock %}

{% block header %}
Main
{% endblock %}

{% block loged %}

{% if logged==True %}
  Logged
{% else %}
  Not Logged
{% endif %}

{% endblock %}

{% block content %}
<a href="{{ url_for('new_post') }}">New post</a>
<br>
<a href="{{ url_for('all_posts') }}">All posts</a>
{% endblock %}

{% block footer %}
footer
{% endblock %}