{% extends 'base.html' %}
{% block title %}
UniBlog
{% endblock %}


{% block lg %}

{% if user!=None %}
<a href="{{ url_for('logout') }}">Logout</a>
{% else %}
<a href="{{ url_for('login_page') }}">Log-in</a>
{% endif %}

{% endblock %}

{% block header %}
Main
{% endblock %}

{% block loged %}

{% if user!=None %}
  Logged - {{ user.login }}
{% else %}
  Not Logged In
{% endif %}

{% endblock %}

{% block content %}

<a href="{{ url_for('all_posts') }}">All posts</a>
<br>
{% if user %}
          <a href="{{ url_for('new_post') }}">New post</a>
{% endif %}

{% endblock %}

{% block footer %}
footer
{% endblock %}