{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}

{% block lg %}

{% if user!=None %}
<a href="{{ url_for('logout') }}">Logout</a>
{% else %}
<a href="{{ url_for('login_page') }}">Log-in</a>
{% endif %}

{% endblock %}

{% block header %}
Login
{% endblock %}

{% block loged %}

  Not Logged In

{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div ig="RegContainer">

  <form method="POST" id="RegForm">

    <div id="Reg">
      <p>Don't have an account yet?</p>
      <a href="{{ url_for('register') }}">Register</a>
     </div>

    <h4>Username</h4>
    <br>
    <input type="text" name="login">
    <br>
    <h4>Password</h4>
    <br>
    <input type="password" name="password">
    <br>
    <input type="submit" value="Login">

 </form>

</div>



{% endblock %}

{% block footer %}

{% endblock %}