{% extends 'base.html' %}
{% block title %}
New post
{% endblock %}

{% block lg %}

{% if user!=None %}
<a href="{{ url_for('logout') }}">Logout</a>
{% else %}
<a href="{{ url_for('login_page') }}">Log-in</a>
{% endif %}

{% endblock %}

{% block header %}
New Post
{% endblock %}

{% block loged %}

{% if user!=None %}
  Logged - {{ user.login }}
{% else %}
  Not Logged
{% endif %}

{% endblock %}

{% block content %}
<form method="post" action="/add_article">
          <input type="text" name="title" id="title" placeholder="Name of the article"><br>
          <textarea name="intro" id="intro" placeholder="Intro of the article"></textarea><br>
          <textarea id="text" name="text" placeholder="Text of the article"></textarea>
          <br>
          <button type="submit">Add post</button>
</form>
{% endblock %}

{% block footer %}

{% endblock %}