{% extends 'base.html' %}
{% block title %}
New user
{% endblock %}

{% block lg %}

{% if user!=None %}
<a href="{{ url_for('logout') }}">Logout</a>
{% else %}
<a href="{{ url_for('login_page') }}">Log-in</a>
{% endif %}

{% endblock %}

{% block header %}
New user
{% endblock %}

{% block loged %}

  Not Logged In

{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div id="RegContainer">

  <form method="POST" id="RegForm">

    <div id="Reg">
      <p>Already have an account?</p>
      <a href="{{ url_for('login_page') }}">Login</a>
    </div>
    <h4>Username</h4>
    <br>
    <input type="text" name="login">
    <br>
    <h4>Password</h4>
    <br>
    <input type="password" name="password">
    <br>
    <h4>Repeat password</h4>
    <br>
    <input type="password" name="password2">
    <br>
    
    <input type="submit" value="Register">
 </form>

</div>

{% endblock %}

{% block footer %}

{% endblock %}