{% extends 'base.html' %}
{% block title %}
New user
{% endblock %}

{% block lg %}

{% if logged==True %}
<a href="{{ url_for('logout') }}">Logout</a>
{% else %}
<a href="{{ url_for('login_page') }}">Log-in</a>
{% endif %}

{% endblock %}

{% block header %}
New user
{% endblock %}

{% block loged %}

  Not Logged In

{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form method="POST">
          <input type="text" name="login">
          <br>
          <input type="password" name="password">
          <br>
          <input type="password" name="password2">
          <br>
          <a href="{{ url_for('login_page') }}">Login</a>
          <input type="submit" value="Register">
</form>
{% endblock %}

{% block footer %}

{% endblock %}