{% extends 'base.html' %}
{% block title %}

{{ user.login }}

{% endblock %}

{% block lg %}

<a href="{{ url_for('logout') }}">Logout</a>

{% endblock %}

{% block header %}

{{ user.login }}

{% endblock %}

{% block loged %}

<div id="User_page">
    <a href="{{ url_for('user_full') }}">Logged - {{ user.login }}</a>
</div>

{% endblock %}

{% block content %}

<div id='fullpost'>
          <p><b>Login - {{ user.login }}</b></p>
          <p><b>University: {{ user.university }}</b></p>
          <p><b>Posts: {{ user.articles }}</b></p>
</div>

{% endblock %}

{% block footer %}

{% endblock %}