body,html{
          background: #c8ccdb;
          padding: 0;
          margin: 0;
}

header{
          background: #394366;
          height: 70px;
          width: 100%;
          padding: 0 0;
          border-bottom: 3px solid rgba(255, 255, 255, 0.4);
}

#content{
          height:1100px;
          width: 90%;
          margin: auto;
          margin-top: 50px;
}

footer{
          margin-bottom: 0;
          background: #525661;
          height: 170px;
          width: 100%;
          padding: 0 0;
          border-top: 3px solid rgba(255, 255, 255, 0.4);
}

#logo{
          width: 1100px;
          margin: 0 auto;
          height: 70px;
          text-align: center;
}

#UniBlog{
          align-items: center;
          flex-direction: row;
          display: flex;
          float: left;
          height: 70px;
}

#UniBlog a{
          padding: 0 10px;
          line-height: 70px;
          font-size: 27px;
          outline: none;
          text-decoration: none;
          color: #8eeded;
          display: block;
          border-left: 2px solid rgba(0, 0, 0, 0.25);
          border-right: 2px solid rgba(0, 0, 0, 0.25);
}

#UniBlog a:hover{
          background: #747ea3;
}


#About{
          align-items: center;
          flex-direction: row;
          display: flex;
          float: right;
          height: 70px;
}

#About a{    
          display: block;
          padding: 0 22px;
          font-size: 27px;
          color:#8eeded;
          line-height: 70px;
          outline: none;
          text-decoration: none;
          border-left: 2px solid rgba(0, 0, 0, 0.25);
          border-right: 2px solid rgba(0, 0, 0, 0.25);
}

#About a:hover{
          background: #747ea3;
}


#title{
          align-items: center;
          flex-direction: row;
          display: flex;
          height: 70px;
}

#title h1{    
          margin-left: auto;
          margin-right: auto;
          display: block;
          padding: 0 10px;
          font-size: 26px;
          color:#8eeded;
          line-height: 70px;
}

#log_reg{
          width: 200px;
          float: right;
          height: 70px;
          align-items: center;
          display: flex;
}

#log_reg a{
          font-size: 20px;
          color:#8eeded;
          outline: none;
          text-decoration: none;
}

#log_reg a:hover{
          color:#D80707;
}

#showlog{
          height: 50px;
          width: 100%;
          background: #09234F;
          border-bottom: 3px solid rgba(255, 255, 255, 0.4);
          display: flex;
          align-items: center;
}

#showlog h2{
          margin-left: auto;
          margin-right: auto;
          font-size: 20px;
          color: #8eeded;
}

#post{
          height: 200px;
          margin-top: 20px;
          border-top: 2px solid rgba(0, 0, 0, 0.25);
          border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}

#post a{
          outline: none;
          text-decoration: none; 
}

#RegContainer{
          height: 300px;
}

#RegForm {
          width: 600px;
          margin-right: 0;
}

#RegForm h4{
          margin-block-start: 0;
          margin-block-end: 0;
}

#RegForm input{
          margin-bottom: 15px;
}

#Reg{
          float: right;
          width: 200px;
          height: 300px;
          align-items: center;
}

#Reg a{
          color: rgb(202, 124, 124);
          text-decoration: none;
}

#Reg a:hover{
          color: red;
          text-decoration: none;
}

#indexA a{
          color: black;
          text-decoration: none;
          font-size: 20px;
}

#indexA a:hover{
          color: red;
          text-decoration: none;
}
